.hero-image {
  display: flex;
  justify-content: center;
  margin: -4rem 4rem;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

.custom-block.warning {
  border-color: #e7c000;
  background-color: rgba(255, 229, 100, 0.3);
  padding: 1rem;
  border-left: 4px solid #e7c000;
  margin: 1rem 0;
}

.VPNav .VPNavBar .content-body .content .nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.VPNav .VPNavBar .content-body .content .nav > :first-child {
  margin-right: auto;
}

.VPNav .VPNavBar .content-body .content .nav > :last-child {
  margin-left: auto;
}

/* Move nav items to the left */
.VPNavBarMenu {
  justify-content: flex-start !important;
  margin-left: 20px; /* Adjust spacing from left as needed */
}

/* Increase font size of nav links */
.VPNavBarMenuLink {
  font-size: 17px !important; /* Adjust size as needed */
}

.VPNav .VPNavBarMenu .VPNavBarMenuLink {
  font-size: 17px !important;
}

.VPNav .VPNavBarMenu {
  margin-right: auto !important;
  margin-left: 32px !important;
}
.hero-image {
  display: flex;
  justify-content: center;
  margin: -4rem 4rem;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

.custom-block.warning {
  border-color: #e7c000;
  background-color: rgba(255, 229, 100, 0.3);
  padding: 1rem;
  border-left: 4px solid #e7c000;
  margin: 1rem 0;
}

.VPNav .VPNavBar .content-body .content .nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.VPNav .VPNavBar .content-body .content .nav > :first-child {
  margin-right: auto;
}

.VPNav .VPNavBar .content-body .content .nav > :last-child {
  margin-left: auto;
}

/* Move nav items to the left */
.VPNavBarMenu {
  justify-content: flex-start !important;
  margin-left: 20px; /* Adjust spacing from left as needed */
}

/* Increase font size of nav links */
.VPNavBarMenuLink {
  font-size: 17px !important; /* Adjust size as needed */
}

.VPNav .VPNavBarMenu .VPNavBarMenuLink {
  font-size: 17px !important;
}

.VPNav .VPNavBarMenu {
  margin-right: auto !important;
  margin-left: 32px !important;
}
